/* all */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

/* login page */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

.vertical-divider {
    border-left: 1px solid #000; /* Creates the vertical line */
    height: 100px; /* Adjust height as needed */
    margin: 0 1rem; /* Optional: Adjust margins as needed */
}

/* end Login Page */

/* Home page */
.nav-icon {
    height: 80px;
}

/* tabel students */
